# Lab | Web Scraping

Welcome to the IMDb Web Scraping Adventure Lab!

**Objective**

In this lab, we will embark on a mission to unearth valuable insights from the vast sea of data available on IMDb, one of the largest online databases of movie, TV, and celebrity information. As budding data scientists and business analysts, you have been tasked to scrape a specific subset of data from IMDb to assist film production companies in understanding the landscape of highly-rated movies in a defined time period. Your insights will potentially influence the making of the next netflix movie!

**Background**

In a world where data has become the new currency, businesses are leveraging big data to make informed decisions that drive success and profitability. The entertainment industry, being no exception, utilizes data analytics to comprehend market trends, audience preferences, and the performance of films based on various parameters such as director, genre, stars involved, etc. IMDb stands as a goldmine of such data, offering intricate details of almost every movie ever made.

**Task**

Your task is to create a Python script using `BeautifulSoup` and `pandas` to scrape IMDb movie data based on user ratings and release dates. This script should be able to filter movies with ratings above a certain threshold and within a specified date range.

**Expected Outcome**

- A function named `scrape_imdb` that takes four parameters: `title_type`,`user_rating`, `start_date`, and `end_date`.
- The function should return a DataFrame with the following columns:
  - **Movie Nr**: The number representing the movieâ€™s position in the list.
  - **Title**: The title of the movie.
  - **Year**: The year the movie was released.
  - **Rating**: The IMDb rating of the movie.
  - **Runtime (min)**: The duration of the movie in minutes.
  - **Genre**: The genre of the movie.
  - **Description**: A brief description of the movie.
  - **Director**: The director of the movie.
  - **Stars**: The main stars of the movie.
  - **Votes**: The number of votes the movie received.
  - **Gross ($M)**: The gross earnings of the movie in millions of USD.

You will execute this script to scrape data for movies with the Title Type `Feature Film` that have a user rating of `7.5 and above` and were released between `January 1, 1990, and December 31, 1992`.

Remember to experiment with different title types, dates and ratings to ensure your code is versatile and can handle various searches effectively!

**Resources**

- [Beautiful Soup Documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)
- [IMDb Advanced Search](https://www.imdb.com/search/title/)

**Hint**

Your first mission is to familiarize yourself with the IMDb advanced search page. Head over to [IMDb advanced search](https://www.imdb.com/search/title/) and input the following parameters, keeping all other fields to their default values or blank:

- **Title Type**: Feature film
- **Release date**: From 1990 to 1992 (Note: You don't need to specify the day and month)
- **User Rating**: 7.5 to -

Upon searching, you'll land on a page showcasing a list of movies, each displaying vital details such as the title, release year, and crew information. Your task is to scrape this treasure trove of data.

Carefully examine the resulting URL and construct your own URL to include all the necessary parameters for filtering the movies.


---

**Best of luck! Immerse yourself in the world of movies and may the data be with you!**

**Important note**:

In the fast-changing online world, websites often get updates and make changes. When you try this lab, the IMDb website might be different from what we expect.

If you run into problems because of these changes, like new rules or things that stop you from getting data, don't worry! Instead, get creative.

You can choose another website that interests you and is good for scraping data. Websites like Wikipedia or The New York Times are good options. The main goal is still the same: get useful data and learn how to scrape it from a website that you find interesting. It's a chance to practice your web scraping skills and explore a source of information you like.

## BONUS

The search results span multiple pages, housing a total of 631 movies in our example with each page displaying 50 movies at most. To scrape data seamlessly from all pages, you'll need to dive deep into the structure of the URLs generated with each "Next" click.

Take a close look at the following URLs:
- First page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,
  ```
- Second page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,&start=51&ref_=adv_nxt
  ```
- Third page:
  ```
  https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1992-12-31&user_rating=7.5,&start=101&ref_=adv_nxt
  ```

You should notice a pattern. There is a `start` parameter incrementing by 50 with each page, paired with a constant `ref_` parameter holding the value "adv_nxt".

Modify your script so it's capable of iterating over all available pages to fetch data on all the 631 movies (631 is the total number of movies in the proposed example).

# List of Large German Companies

In [25]:
# import necessary libraries 
from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_German_companies#See_also'
page_response = requests.get(url)
page_response

In [15]:
page_soup = BeautifulSoup(page_response.text, 'html')
# page_soup.head()

In [42]:
table_ = page_soup.find_all('table')[1]
#table_

In [43]:
#page_soup.find('table', class_ = 'wikitable sortable')

In [44]:
page_table = page_soup.find_all('table')[1]
#page_table

In [24]:
germ_title = page_table.find_all('th')
germ_title

[<th align="center">Rank
 </th>, <th align="center">Forbes <br/>2000 rank
 </th>, <th align="center">Name
 </th>, <th align="center">Headquarters
 </th>, <th align="center">Revenue<br/>(billions <br/>US$)
 </th>, <th align="center">Profit<br/>(billions <br/>US$)
 </th>, <th align="center">Assets<br/>(billions <br/>US$)
 </th>, <th align="center">Value<br/>(billions <br/>US$)
 </th>, <th align="center">Industry
 </th>]

In [27]:
ger_title_table = [title.text.strip() for title in germ_title]
ger_title_table

['Rank',
 'Forbes 2000 rank',
 'Name',
 'Headquarters',
 'Revenue(billions US$)',
 'Profit(billions US$)',
 'Assets(billions US$)',
 'Value(billions US$)',
 'Industry']

In [29]:
ger_df = pd.DataFrame(columns = ger_title_table)
ger_df

Empty DataFrame
Columns: [Rank, Forbes 2000 rank, Name, Headquarters, Revenue(billions US$), Profit(billions US$), Assets(billions US$), Value(billions US$), Industry]
Index: []

In [33]:
col_data = table_.find_all('tr')

In [35]:
for row in col_data[1:]:
    row_data = row.find_all('td')
    single_row_data = [data.text.strip() for data in row_data]
    
    length = len(ger_df)
    ger_df.loc[length] = single_row_data

In [37]:
ger_df.head()

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,9,Volkswagen,Wolfsburg,278.2,14.0,553.5,92.0,Automotive
1,2,23,Allianz,Munich,118.8,8.8,"1,060.2",102.3,Insurance
2,3,37,Daimler AG,Stuttgart,197.4,8.6,321.9,71.3,Automotive
3,4,57,BMW,Munich,115.0,8.4,238.9,57.5,Automotive
4,5,64,Siemens,Munich / Berlin,98.3,5.5,164.2,97.0,Conglomerate

In [41]:
ger_df.shape

(53, 9)

In [40]:
# Save the data as a csv file
ger_df.to_csv(r'C:\Users\fevi\Documents\IRONHACK\Course\Week_2\LAB_6\lab-web-scraping\Largest_German_companies.csv', index = False)